---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.tsx";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>私の素晴らしいブログのサブタイトル</h2>
  <Greeting
    client:load
    messages={["どうも", "こんにちは", "初めまして", "ようこそ"]}
  />
</BaseLayout>
